/* hide these items when on a phone */
@media screen and (max-width: 739px) {
  #block-boxes-mooc-instructor-contact {
    display:none;
  }
  #block-menu-block-2 {
    display:none;
  }
  #block-menu-block-1 {
    display:none;
  }
  #section-header {
    display:none;
  }
  .book-navigation {
    display:none;
  }
  #page {
    margin-bottom:50px;
  }
}
#thumbnav_modal select.tinynav {
  display:block !important;
}