/* hide these items when on a phone */
@media screen and (max-width: 739px) {
  #feedback_button {
    display:none;
  }
  #block-cis-service-connection-instructor-contact {
    display:none;
  }
  #block-cis-service-connection-active-outline {
    display:none;
  }
  #block-cis-service-connection-section-context-changer {
    display:none;
  }
  #block-menu-menu-lms-menu {
    display:none;
  }
  #section-header {
    display:none;
  }
  .book-navigation {
    display:none;
  }
  #page {
    margin-bottom:50px;
    margin-top:30px;
  }
}
#thumbnav_modal select.tinynav {
  display:block !important;
}