; mooc make file for local development
core = "7.x"
api = "2"

projects[drupal][version] = "7.x"
; include the d.o. profile base
includes[] = "drupal-org.make"

; +++++ Libraries +++++

; Profiler
libraries[profiler][directory_name] = "profiler"
libraries[profiler][type] = "library"
libraries[profiler][destination] = "../../profiles/mooc/libraries"
libraries[profiler][download][type] = "get"
libraries[profiler][download][url] = "http://ftp.drupal.org/files/projects/profiler-7.x-2.x-dev.tar.gz"

; jwerty
libraries[jwerty][directory_name] = "jwerty"
libraries[jwerty][type] = "library"
libraries[jwerty][destination] = "libraries"
libraries[jwerty][download][type] = "get"
libraries[jwerty][download][url] = "" ; TODO add download URI

; mooc
libraries[mooc][directory_name] = "mooc"
libraries[mooc][type] = "profile"
libraries[mooc][destination] = "../../profiles"
libraries[mooc][download][type] = "get"
libraries[mooc][download][url] = "http://ftp.drupal.org/files/projects/mooc-7.x-1.x-dev.tar.gz"

